<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="background">
  </div>
  <div class="login-box">
    <%- message %>
     <h1>LOGIN</h1>
     <form method="post" action="/auth/login">
      <label>Username</label>
      <input type="username" placeholder="Masukkan Username Anda" id="username" name="username">
      <label>Password</label>        
      <input type="password" placeholder="Masukkan Password Anda" id="password" name="password">
      <button type="submit">Login</button>
     </form> 
     <p class="para-2">Not have an account? <a href="/register">Sign Up Here</a></p>
  </div>   
</body>
</html>